.item-checkbox-list
  %label Пол
  .item.radio
    = f.label :sex, value: 0 do
      = f.radio_button :sex, 0, checked: true
      %span Мужской
    = f.label :sex, value: 1 do
      = f.radio_button :sex, 1
      %span Женский