.item-checkbox-list
  %label Пол
  .item.radio
    %label{for: "r21"}
      %input#r21{checked: "checked", name: "radio-2", type: "radio"}/
      %span Мужской
    %label{for: "r22"}
      %input#r22{name: "radio-2", type: "radio"}/
      %span Женский