= f.hidden_field :timbre_level
.item-ui-slider
  %label Тембр
  .item.ui-slider
    #ui-slider-voice{data: {'input-selector' => '#user_speaker_attributes_timbre_level'}}
    .points.voice
      .p1 Низкий
      .p2 Средний
      .p3 Высокий