.wizard-layout#wizard-layout
  %h1 — Оформление заказа —
  .step-holder
    %form{:action => ""}
      .wrapper
        %h2 Подтверждение
        .item-text
          %p
            Проверьте внимательно все пункты, изменить их после оформления заказа будет невозможно.
        .order-info
          %h3 Информация о заказе
          .username
            .avatar
              %img{:alt => "", :src => "img/tmp/avatar2.png"}/
            .title
              %a{:href => ""} ispolnitel007Длинный ник
              %span диктор, вокалист
          %ul
            %li
              %span Категория
              %span Начитка
            %li
              %span Тип
              %span Информационный
            %li
              %span Тембр
              %span Средний
            %li
              %span Возраст
              %span Взрослый
            %li
              %span Хронометраж
              %span 15 секунд
        .item-text-corrected
          %h3 Текст начитки
          %p
            Компания «Р
            %span.selected> у
            мус» предлагает холодно кованые витые трубы, для декоративного оформления ваших самых оригинальных фантазий!
            %br/
            Компания «Румус» — рождая совершенство!
        .item-files-uploaded
          %h3 Приложенные файлы
          %audio{:controls => "", :preload => "auto"}
            %source{:src => "files/audio.mp3"}/
            %source{:src => "files/audio.ogg"}/
            %source{:src => "files/audio.wav"}/
          %audio{:controls => "", :preload => "auto"}
            %source{:src => "files/audio.mp3"}/
            %source{:src => "files/audio.ogg"}/
            %source{:src => "files/audio.wav"}/
        .item-order-cost
          %h3
            Стоимость заказа:
            %span 200 руб.
    .controls
      = link_to previous_wizard_path, class: 'prev' do
        %i.fa.fa-arrow-left
        Назад
      = link_to next_wizard_path, class: 'next' do
        %i.fa.fa-arrow-right
        Продолжить
