.user-page-layout
  .main
    %h1 Мои заказы
    .nav
      %ul
        %li
          %a{:href => ""} Я заказываю
        %li.current
          %a{:href => ""} Мне заказывают
      .filter
        %label.checkbox{:for => "checkbox-1"}
          %input#checkbox-1{:checked => "checked", :type => "checkbox"}/
          %span Показывать закрытые

    = render partial: 'shared/order_widget', collection: @orders, as: :order
    =# render 'deprecated_orders_list'
    .paginator
      %ul
        %li.current
          %a{:href => ""} 1
        %li
          %a{:href => ""} 2
        %li
          %a{:href => ""} 3
        %li
          %a{:href => ""} 4
        %li
          %a{:href => ""} 5
        %li
          %a{:href => ""} 6
        %li
          %a{:href => ""} 7
        %li
          %a{:href => ""} 8
        %li
          %a{:href => ""} 9
  / /.main
  %aside
    .avatar
      %img{:alt => "", :src => "img/tmp/avatar2.png"}/
    %h2
      somenick12
      %span диктор
    %ul
      %li.current
        %a{:href => ""}<
          %i.fa.fa-headphones
          %span> Заказы
          %span.val 12
      %li
        %a{:href => ""}<
          %i.fa.fa-money
          %span> Финансы
      %li
        %a{:href => ""}<
          %i.fa.fa-star
          %span> Избранное
      %li
        %a{:href => ""}<
          %i.fa.fa-power-icon-cog
          %span> Настройки