.user-page-layout
  .main
    %h1 Мои заказы
    .nav
      %ul
        %li{class: (params[:action] == 'client' && 'current') }
          %a{:href => client_orders_path} Я заказываю
        %li{class: (params[:action] == 'speaker' && 'current') }
          %a{:href => speaker_orders_path} Мне заказывают
      .filter
        %label.checkbox{:for => "checkbox-1"}
          %input#checkbox-1{:checked => "checked", :type => "checkbox"}/
          %span Показывать закрытые

    = render partial: 'shared/order_widget', collection: @orders, as: :order
    = paginate @orders
  %aside
    .avatar
      %img{:alt => "", :src => "img/tmp/avatar2.png"}/
    %h2
      = current_user.login
      - if current_user.speaker?
        %span диктор
    %ul
      %li.current
        %a{:href => ""}<
          %i.fa.fa-headphones
          %span> Заказы
          %span.val 12
      %li
        %a{:href => ""}<
          %i.fa.fa-money
          %span> Финансы
      %li
        %a{:href => ""}<
          %i.fa.fa-star
          %span> Избранное
      %li
        %a{:href => ""}<
          %i.fa.fa-power-icon-cog
          %span> Настройки