.user-page-layout
  .main
    %h1 Мои заказы
    .nav
      %ul
        %li{class: (params[:action] == 'client' && 'current') }
          %a{:href => client_orders_path} Я заказываю
        - if current_user.speaker?
          %li{class: (params[:action] == 'speaker' && 'current') }
            %a{:href => speaker_orders_path} Мне заказывают
      .filter
        %label.checkbox{:for => "checkbox-1"}
          %input#checkbox-1{:checked => "checked", :type => "checkbox"}/
          %span Показывать закрытые

    = render partial: 'widget', collection: @orders, as: :order
    = paginate @orders

  = render 'shared/profile_aside'
