.title Ваш ответ
= form_tag clarify_order_path(order), method: :post do
  .textarea-holder
    %textarea{:cols => "30", :rows => "10", name: "event[message]"}
    .tip Нельзя указывать контактную информацию.
  .btns-holder
    %button.btn-green.pos-left
      %i.fa.fa-check-circle-o>
      Отправить