- group_open = @force_groups_to_be_open || (params.key? 'by_order_category')
.ftr-gr
  .item.checkbox
    %h3 Категория
    %label{for: "checkbox-2"}
      = check_box_tag nil, nil, !group_open, class: "group_switcher", id: "checkbox-2", data: {'rel-group' => 'category'}
      %span Не важно
  .display_switchable{ data: {group: 'category'} }
    .item.radio.display_switchable

      - OrderCategory.order('position asc').each_with_index do |cat, index|
        = label :by_order_category, cat.id do
          = radio_button_tag :by_order_category, cat.id, (cat.id.to_s == params[:by_order_category] || index == 0), data: {group: 'category'}
          %span= cat.name
