.ftr-gr
  .item.checkbox
    %h3 Категория
    %label{for: "checkbox-2"}
      %input#checkbox-2{checked: "checked", type: "checkbox"}/
      %span Не важно
  .item.radio

    - OrderCategory.order('position asc').each_with_index do |cat, index|
      = label :by_order_category, cat.id do
        = radio_button_tag :by_order_category, cat.id, (index == 0)
        %span= cat.name