- group_open = @force_groups_to_be_open || (params.key? 'with_voice_types')
- voice_types = VoiceType.order('position asc').all
- hided_types = Array(voice_types[6..-1])

.ftr-gr.ckbx-list.items-toggle
  .item.checkbox
    %h3 Тип
    %label{for: "checkbox-3"}
      = check_box_tag nil, nil, !group_open, class: "group_switcher", id: "checkbox-3", data: {'rel-group' => 'voice_types'}
      %span Не важно
  .display_switchable{ data: {group: 'voice_types'} }
    .item.group
      - voice_types[0..5].in_groups(2, false) do |group|
        .ckbx-col
          = render partial: "speakers/search_form/voice_type", collection: group, as: :type
    .item.group.block-toggle
      - Array(voice_types[6..-1]).in_groups(2, false) do |group|
        .ckbx-col
          = render partial: "speakers/search_form/voice_type", collection: group, as: :type
    .link-holder
      %a.link-toggle Показать все варианты
