.cols2-layout
  %aside
    .br-holder
      %a{href: ""}
        %img{alt: "", src: "img/tmp/br1.png"}/
    = render 'speakers/search_form'
  .main
    %h2 10 популярных дикторов
    .speakers_container
      = render partial: "list_item", collection: @speakers, as: :speaker
    .block-results-holder
      .link-holder
        %a{href: ""}
          Все дикторы
          %i.fa.fa-chevron-right
      .val
        всего
        %span 492
        диктора


/ # = render partial: "list_item", collection: @speakers, as: :speaker